<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none" preserve-order="true">
    <test name="Test">
        <classes>
            <class name="utilities.BaseTest"/>
            <class name = "Login_ValidTest"/>
           <class name = "RefreshToken_ValidTest"/>
            <class name = "ForgotPassword_invalidTest"/>
            <class name = "ForgotPassword_ValidTest"/>
            <class name = "ValidateToken_ValidTest"/>
            <class name = "GetDistributors"/>
            <class name = "GetRetailers_ValidTest"/>
            <class name = "GetPendingOrders_ValidTest"/>
            <class name = "AddItem_ValidTest"/>
            <class name = "Edititem_ValidTest"/>
            <class name = "GetAllOrders_ValidTest"/>
            <class name = "GetProductClass_ValidTest"/>
            <class name = "SubmitOrder_ValidTest"/>
            <class name = "GetProducts_ValidTest"/>

        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->


